@font-face {
  font-family: "Circular Std Book";
  src: url("../fonts/CircularStd-Book.ttf") format("ttf"),
    url("../fonts/CircularStd-Book.woff") format("woff");
}

.card-section {
  //area where all cards are rendered and displayed
  display: flex;
  // justify-content: space-between;
  flex-wrap: wrap;
  justify-content: space-evenly;
  column-gap: 16px;
}

.card-content-wrapper {
  // height: 100%;
  // padding: 1rem;
  display: flex;
  flex-direction: column;
  border: #e1e1e1 solid 1px;
  border-radius: 8px;
  min-width: 300px;
  height: 146px;
  margin-bottom: 24px;
}

.card-headersection {
  box-shadow: inset 0px -1px 0px #e1e1e1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 16px;
  margin: 0;

  .card-title {
    font-family: "Circular Std Book", sans-serif;
    font-size: 1.1255rem;
    font-weight: 500;
    line-height: 1.5rem;
    letter-spacing: 0.01125rem;
  }

  .deleteIcon {
    cursor: pointer;
    position: relative;
    padding: 24px;
    background-color: transparent;
    border: none;
    width: 24px;
    height: 24px;
  }
}
.card-body {
  color: #474343;
  font-family: "Circular Std Book", sans-serif;
  font-size: 2.255rem;
  font-weight: 450;
  line-height: 2.5rem;
  letter-spacing: -0.03125rem;
  height: 100%;
  padding-left: 16px;
  margin-top: 24px;
}
