@font-face {
  font-family: "Circular Std Book";
  src: url("../fonts/CircularStd-Book.ttf") format("ttf"),
    url("../fonts/CircularStd-Book.woff") format("woff");
}

.card-section {
  //area where all cards are rendered and displayed
  display: inline-flex;
  flex-wrap: wrap;
  column-gap: 16px;
}

.card-content-wrapper {
  display: flex;
  flex-direction: column;
  border: #e1e1e1 solid 1px;
  border-radius: 8px;
  min-width: 300px;
  height: 146px;
  margin-bottom: 24px;
}

.card-headersection {
  box-shadow: inset 0px -1px 0px #e1e1e1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 16px;
  margin: 0;

  .card-title {
    font-family: "Circular Std Book", sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.5rem;
    letter-spacing: 0.01125rem;
  }

  .icons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 48px;

    .editIcon {
      cursor: pointer;
      position: relative;
      background-color: transparent;
      border: none;
      width: 16px;
      height: 16px;
    }

    .deleteIcon {
      cursor: pointer;
      position: relative;
      padding: 16px;
      background-color: transparent;
      border: none;
      width: 16px;
      height: 16px;
    }
  }
}
.card-body {
  color: #474343;
  font-family: "Circular Std Book", sans-serif;
  font-size: 1.125rem;
  font-weight: 450;
  line-height: 2.5rem;
  letter-spacing: -0.03125rem;
  height: 100%;
  padding-left: 16px;
  margin-top: 24px;
  // white-space: pre-wrap; // This will respect newlines and spaces
}
